body {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fart.ngfiles.com%2Fimages%2F2795000%2F2795034_xardkor4ik_ton-618.jpg%3Ff1666453945&f=1&nofb=1&ipt=cb911bda64cb73f32b2dbdd1cf5d0dda6777970cd04a12250479bb9d80b0894d');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#block {
    background: linear-gradient(to right, #000000, #552e18);
    border: 3px solid #000;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.8s ease-out forwards;
}

#block h2 {
    color: rgb(224, 218, 218);
    text-align: center;
    margin: 0;
}

#block input {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #1a1a1a;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
    transition: border 0.3s ease, background 0.3s ease;
}

#block input:focus {
    outline: none;
    border: 1px solid #ff6600;
    background-color: #2a2a2a;
}

#block button {
    width: 250px;
    height: 35px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#block button:hover {
    background-color: #0f0f0f;
    transform: scale(1.03);
    box-shadow: 0 0 10px #ff6600;
}
